*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.squareOne{
    background-color: #1f2937;
    padding: 20px 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #F9FAF8;
}



.headerLogo{
    
    width: 80px;

}

.link{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
}

.squareOne-content{
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.squareOneImage{
    width: 500px;
}

.squareOne-details{
    font-family: sans-serif;
    padding-right: 20px;
    text-align: left;
    width: 500px;
}

.contentTitle{
    
    font-size: 30px;
    font-weight: 800;
    color: #F9FAF8;
    
}

.squareOne-description{
    font-size: 15px;
    margin-top: 20px;
    color: #E5E7EB;
    margin-bottom: 10px;

}

.signUpButton{
    color: white;
    font-size: 10;
    width: 80px;
    height: 23px;
    background-color: rgb(33, 124, 234);
    border: none;
    border-radius: 5px;
}




/* SQUARE TWO------------------------------------------------------------------------------ */
.squareTwo{
    font-family: sans-serif;
    padding-top: 50px;
   

}

.title{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
    
}

.content{
    margin: 100px 150px;
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content:center;
    margin-bottom: 120px;

}

.Details{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

}


.squareTwo img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: 5px solid rgb(28, 117, 168);
    border-radius: 20px;
}

.description{
    margin-top: 10px;
    color: gray;
    font-size: 15px;
    text-align: center;
}


/* Square 3 ------------------------------------------------------------------------------------------------------- */

.squareThree{
    padding: 200px 200px 150px 350px;
    background-color: #E5E7EB;
    
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
}

.author{
    color: #1F2937;
    text-align: end;
    font-weight: bold;
}

/* Square 4------------------------------------------------------------------------------------------------------- */

.SquareFour{
    margin: 100px auto;
    display: flex;
    padding: 0px 50px;
    flex: 1;
    gap: 3rem;
    background-color: rgb(33, 124, 234);
    width: 950px;
    height: 150px;
    border-radius: 10px;
    color: white;
    justify-content: space-around;
    align-items: center;
    

}

.SquareFourText{
    
    text-align: left;
    
}

.SquareFour .signUpButton{
    border: solid;
    border-color: white;
    height: 30px;
}




footer{
    background-color: #1f2937;
    height: 100px;
    color: white;
    padding-top: 50px;
    text-align: center;
}

